/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/footer.css');
@import url('components/button.css');
@import url('components/cards-area.css');
/* Utilities */
body {
  margin: 0;
  font-family: Roboto;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

