.footer{
  text-align: center;
  background-color: #2C2B2B;
  width: 100%;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a {
  margin-right: 24px;
}

.footer p {
  color: #5D5E5E;
}

.fab {
  font-size: 2rem;
  color: #1EDD88;
}
.fa-heart{
  color: #BF0F12;
}